<!DOCTYPE html>
<html lang="en">

<head>
     {% include 'common/header.html' %}
</head>

<body id="page-top">

  <div id="wrapper">
    {% include 'common/vertical_menu_bar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
          <br>
          <div class="container-fluid">
              {% include 'common/horizontal_menu_bar.html' %}
              <main role="main">
                  <section class="jumbotron text-center">
                        <div class="container" style="text-align: left">
                            {% with messages = get_flashed_messages() %}
                                  {% if messages %}
                                    <div class="alert alert-warning">
                                    {% for message in messages %}
                                      {{ message }}
                                    {% endfor %}
                                    </div>
                                  {% endif %}
                                {% endwith %}

                            <p class="lead text-muted">This wizard will guide you through the configuration of your Scale-Out Computing on AWS (SOCA) cluster.
                                This tool does not actually install SOCA but simply generates a CloudFormation URL with all your inputs. You can then import it in your AWS CloudFormation console to proceed to the actual installation of SOCA.</p>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Let SOCA install everything</h3>
                                    <a href="/prerequisites?mode=standard"><button style="text-decoration: none; cursor:pointer;" class="btn-lg btn-success">STANDARD INSTALL</button></a>
                                    <br><br>
                                    <h5>Pre-Requisites</h5>
                                    You must <a href="https://awslabs.github.io/scale-out-computing-on-aws/install-soca-cluster/" target="_blank"> have built and uploaded your Scale-Out Computing on AWS </a> cluster on S3 bucket.

                                </div>

                                <div class="col-md-6">
                                    <h3>I want to use my existing resources</h3>
                                    <a href="/prerequisites?mode=advanced"><button style="text-decoration: none; cursor:pointer;" class="btn-lg btn-success">ADVANCED INSTALL</button></a>
                                    <div style="text-align: left">
                                                  <br>

                                        <h5>Pre-Requisites</h5>

                                        You must <a href="https://awslabs.github.io/scale-out-computing-on-aws/install-soca-cluster/" target="_blank"> have built and uploaded your Scale-Out Computing on AWS </a> cluster on S3 bucket.
                                        <br>You must have a VPC
                                        <br>Your VPC must have 6 subnets (3 private/3 public)
                                        <br>You must have 2 Elastic File Systems
                                        <br>You must have one SSH keypair
                                        <br>You must have two security groups configured correctly
                                        <hr>
                                        <h5>What resources SOCA will still create:</h5>
                                        <ul>
                                            <li>The EC2 instance used as Scheduler machine</li>
                                            <li>3 IAM roles</li>
                                            <li>1 Lambda function</li>
                                            <li>1 Elastic IP (EIP)</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>



                        </div>





                        </div>
                </section>
              </main>
          </div>
      </div>
    </div>
  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

    {% include 'common/footer.html' %}

</body>

</html>
