<!DOCTYPE html>
<html lang="en">

<head>
     {% include 'common/header.html' %}
</head>

<body id="page-top">

  <div id="wrapper">
    {% include 'common/vertical_menu_bar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
          <br>
          <div class="container-fluid">
              {% include 'common/horizontal_menu_bar.html' %}
              <main role="main">
                  <section class="jumbotron text-center">
                        <div class="container">
                          <p class="lead text-muted">{{id}} / 3 : Select your public subnet</p>
                            <hr>
                             <div class="alert alert-primary" role="alert">
                                Public subnets  <strong>MUST BE</strong> internet routable. Outgoing traffic must be redirect to an Internet gateway
                             </div>

                            {% if success == False %}
                             <div class="alert alert-danger" role="alert">
                                The following error occurred while querying AWS APIs: {{vpcs}}
                                 <hr>
                                 <strong>Possible Resolution:</strong> Make sure your IAM credentials are valid and allow ec2:Describe*, efs:Describe*, s3:List*, s3:Describe*
                             </div>

                            {% else %}


                            {% if id == 3 %}
                            <form action="/efs_data" method="get">
                                {% else %}
                                <form action="/public_subnets" method="get">

                                    {%endif %}

                                    {% for k,v in get_params.items() %}
                                <input type="hidden" name="{{k}}" id="{{k}}" value="{{v}}">
                                {% endfor %}

                                 <div class="form-group">
                                    <select required="true" class="form-control" name="public_subnet_{{id}}" id="public_subnet_{{id}}">
                                        {% for subnet_id,subnet_info in message.items() %}
                                        <option value="{{ subnet_id }}">{{ subnet_info }}</option>
                                        {% endfor %}
                                    </select>
                                 </div>
                                <button type="submit" class="btn btn-success mb-2">Continue</button>
                            </form>

                            {% endif %}


                  </div>

                        </div>
                </section>
              </main>
          </div>
      </div>
    </div>
  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

    {% include 'common/footer.html' %}

</body>

</html>
