<!DOCTYPE html>
<html lang="en">

<head>
     {% include 'common/header.html' %}
</head>

<body id="page-top">

  <div id="wrapper">
    {% include 'common/vertical_menu_bar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
          <br>
          <div class="container-fluid">
              {% include 'common/horizontal_menu_bar.html' %}
              <main role="main">
                  <section class="jumbotron text-center">
                        <div class="container">
                          <p class="lead text-muted">Choose the region you want to use</p>
                            <hr>
                                {% if success == False %}
                             <div class="alert alert-danger" role="alert">
                                The following error occurred while querying AWS APIs: {{message}}
                                 <hr>
                                 <strong>Possible Resolution:</strong> Make sure your IAM credentials are valid and allow ec2:Describe*, elasticfilesystem:Describe*, s3:List*, s3:Describe*
                             </div>

                            {% else %}

                            {% if get_params.mode == "standard" %}
                            <form action="/vpc_cidr" method="get">
                                {% else %}
                             <form action="/vpc" method="get">
                            {% endif %}
                                {% for k,v in get_params.items() %}
                                <input type="hidden" name="{{k}}" id="{{k}}" value="{{v}}">
                                {% endfor %}

                                 <div class="form-group">
                                    <select required="true" class="form-control" name="region" id="region">
                                         {% for region in message %}
                                        <option value="{{region}}">{{region}}</option>
                                        {% endfor %}
                                    </select>
                                 </div>
                                <button type="submit" class="btn btn-success mb-2">Continue</button>
                            </form>
                        </div>
                      {% endif %}
                </section>
              </main>
          </div>
      </div>
    </div>
  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

    {% include 'common/footer.html' %}

</body>

</html>
