<!DOCTYPE html>
<html lang="en">

<head>
     {% include 'common/header.html' %}
</head>

<body id="page-top">

  <div id="wrapper">
    {% include 'common/vertical_menu_bar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
          <br>
          <div class="container-fluid">
              {% include 'common/horizontal_menu_bar.html' %}
              <main role="main">
                  <section class="jumbotron text-center">
                        <div class="container">
                          <p class="lead text-muted">What would be the CIDR of your VPC</p>
                            <hr>
                             <div class="alert alert-primary" role="alert">
                                 CIDR must use /16 netmask (eg: 10.0.0.0/16)

                            </div>

                            <form action="/ssh" method="get">
                                {% for k,v in get_params.items() %}
                                <input type="hidden" name="{{k}}" id="{{k}}" value="{{v}}">
                                {%endfor %}
                                  <div class="form-group">
                                    <input type="text" name="vpc_cidr" class="form-control" id="vpc_cidr" placeholder="What will be your CIDR format (x.x.x.x/16)" required="true" pattern="((\d{1,3})\.){3}\d{1,3}/16">
                                  </div>
                                  <button type="submit" class="btn btn-success mb-2">Continue</button>


                            </form>



                        </div>
                </section>
              </main>
          </div>
      </div>
    </div>
  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

    {% include 'common/footer.html' %}

</body>

</html>
